<!doctype html>
<html lang="vi"
      layout:decorate="_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
>
<head>

</head>

<body>

<div layout:fragment="breadcrumb">
    <ul class="main-menu">
        <li>
            <a th:href="@{/}">Home</a>
            <!--                            <ul class="sub-menu">-->
            <!--                                <li><a class="active" href="index.html">Home 01</a></li>-->
            <!--                                <li><a href="index-2.html">Home 02</a></li>-->
            <!--                                <li><a href="index-3.html">Home 03</a></li>-->
            <!--                                <li><a href="index-4.html">Home 04</a></li>-->
            <!--                            </ul>-->
        </li>
        <li sec:authorize="hasAnyAuthority('TEACHER', 'STUDENT')">
            <a th:href="@{/user}">Users</a>
            <!--                            <ul class="sub-menu">-->
            <!--                                <li><a href="about.html">About 01</a></li>-->
            <!--                                <li><a href="about-2.html">About 02</a></li>-->
            <!--                                <li><a href="instructor.html">Instructor</a></li>-->
            <!--                                <li><a href="pricing.html">Pricing</a></li>-->
            <!--                                <li><a href="login-register.html">Login & Register</a></li>-->
            <!--                            </ul>-->
        </li>
        <li sec:authorize="hasAnyAuthority('TEACHER', 'STUDENT')">
            <a class="active" th:href="@{/classroom}">Classrooms</a>
            <!--                            <ul class="sub-menu">-->
            <!--                                <li><a href="course-list.html">Course List</a></li>-->
            <!--                                <li><a href="course-grid.html">Course Grid</a></li>-->
            <!--                                <li><a href="course-details.html">Course Details</a></li>-->
            <!--                            </ul>-->
        </li>
        <li><a th:href="@{/login}">Login</a>
            <!--                            <ul class="sub-menu">-->
            <!--                                <li><a href="blog-grid.html">Blog Grid</a></li>-->
            <!--                                <li><a href="blog-list.html">Blog List</a></li>-->
            <!--                                <li><a href="blog-details.html">Blog Details</a></li>-->
            <!--                            </ul>-->
        </li>
    </ul>
</div>
<div class="main-wrapper" layout:fragment="main_body">
    <!-- Page Banner Start -->
    <div class="section page-banner-section bg-color-1">
        <img alt="shape" class="shape-4" th:src="@{/images/shape/shape-21.png}">
        <img alt="shape" class="shape-5" th:src="@{/images/shape/shape-21.png}">
        <div class="container">
            <!-- Course Details Banner Content Start -->
            <div class="course-details-banner-content">
                <div class="rating">
                    <div class="rating-star">
                        <div class="rating-active" style="width: 60%;"></div>
                    </div>
                    <span>(4.5)</span>
                </div>


                <h2 class="title" th:text="${classroomDetails.getNameClass()}">2021 Complete Python Bootcamp From Zero
                    to Hero in Python </h2>

                <p th:text="${classroomDetails.getDescriptionClass()}">Learn Python like a Professional Start from the
                    basics and go all the way to creating your own
                    applications and games </p>

                <div class="course-details-meta">
                    <!--                    <div class="meta-action">-->
                    <!--                        <div class="meta-author">-->
                    <!--                            <img alt="Author" th:src="@{/images/author-1.jpg}">-->
                    <!--                        </div>-->
                    <!--                        <div class="meta-name">-->
                    <!--                            <h5 class="name">Adam Helen</h5>-->
                    <!--                        </div>-->
                    <!--                    </div>-->


                    <div class="meta-action">
                        <p class="label">Code : <span th:text="${classroomDetails.getCodeClass()}">2/12/2021</span></p>
                    </div>
                </div>
            </div>
            <!-- Course Details Banner Content End -->
        </div>
    </div>
    <!-- Page Banner End -->

    <!-- Course List Start -->
    <div class="section section-padding">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-xl-7 col-lg-8">

                    <!-- Course Details Wrapper Start -->
                    <div class="course-details-wrapper">

                        <!-- Course Overview Start -->
                        <div class="course-overview">
                            <h3 class="title">Course Overview</h3>
                            <p>World-class training and development programs developed by top teachers. Build skills
                                with courses, certificates, and degrees online from world-class universities and
                                companies. from the National Research University Higher School of Economics (HSE
                                University) is the first fully online.</p>
                        </div>


                        <!-- Course Overview End -->
                        <!-- Start news-->
                        <h3 class="title">Notification</h3>
                        <div class="course-learn-list" th:each="news: ${newsInClass}">
                            <div class="blog-image" style="width: 50px">
                                <a href="#"><img th:src="@{/images/notification-flat.png}" alt="Notification"></a>
                            </div>
                            <div class="blog-content">
                                <div class="meta">
                                    <a href="#" th:text="${news.getTimestamp()}"><i class="fa fa-calendar-o"></i> 01
                                        Jul, 2021</a>
                                </div>
                                <a th:href="@{'/news-details?newsId=' + ${news.getId()}}"><h3 class="title" th:text="${news.getTitle()}">LIVE SHOW:
                                    Business memes, dad lessons, selling to CROs</h3></a>
                                <p th:text="${news.getContent()}">World-class training and development programs
                                    developed by top teachers. Build skills with courses, certificates, and degrees
                                    online from world-class universities and companies.</p>
                            </div>
                        </div>
                        <!--End news-->
                        <div class="course-learn-list" th:each="homework: ${homeworkTeacherList}">
                            <div class="sidebar-course-item">
                                <div class="item-image">
                                    <a th:href="@{'/homework_list/download?id=' + ${homework.id}}"><img alt="Courses"
                                                                                                        th:src="@{/images/homework.png}"></a>
                                </div>
                            </div>

                            <div class="item-content">
                                <h3 class="title"><a th:href="@{'/homework_list/download?id=' + ${homework.id}}"
                                                     th:text="${homework.getName() == null ? 'Untitled homework' : homework.getName()}">Cupidatat
                                    non proident sunt
                                    culpa officia deserunt</a> <i class="fa fa-download"></i></h3>
                                <span th:text="${homework.getDescription()}">World-class training and development programs
                                    developed by top teachers. Build skills
                                    with courses, certificates, and degrees online from world-class universities and
                                    companies. from the National Research University Higher School of Economics (HSE
                                    University) is the first fully online.</span>
                            </div>


                            <div class="course-collapse-btn">
                                <button class="btn collapsed" data-bs-target="#upload-homework"
                                        data-bs-toggle="modal"
                                        data-bs-whatever="create-classroom" type="button">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Your submission
                                </button>
                            </div>

                            <!--                            Start modal form-->
                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                 id="upload-homework"
                                 tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form enctype="multipart/form-data" th:method="post"
                                                  th:action="@{/classroom}"
                                                  th:object="${homeworkObj}">
                                                <input name="classroomId" th:value="${classroomId}" type="hidden">
                                                <div class="mb-3">
                                                    <input class="form-control" id="homeworkCode"
                                                           name="parentHomework" th:value="${homework.getId()}"
                                                           type="hidden">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="col-form-label" for="homeworkName">Name</label>
                                                    <input class="form-control" id="homeworkName" required
                                                           th:field="*{name}" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="col-form-label"
                                                           for="homeworkDescription">Description</label>
                                                    <input class="form-control" id="homeworkDescription" required
                                                           th:field="*{description}" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="col-form-label" for="homeworkDescription">File</label>
                                                    <input class="form-control" id="formFile" name="file" type="file">
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                            type="button">
                                                        Close
                                                    </button>
                                                    <button class="btn btn-primary" type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--                            End modal form-->
                        </div>

                        <!-- Course Learn List Start -->
                        <!--                        <div class="course-learn-list">-->
                        <!--                            <h3 class="title">What you will learn</h3>-->
                        <!--                            <ul>-->
                        <!--                                <li>Become a UX designer.</li>-->
                        <!--                                <li>Become a UX designer.</li>-->
                        <!--                                <li>You will be able to add UX designer to your CV</li>-->
                        <!--                                <li>You will be able to add UX designer to your CV</li>-->
                        <!--                                <li>Build & test a full website design.</li>-->
                        <!--                                <li>Build & test a full website design.</li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                        <!-- Course Learn List End -->

                        <!-- Course Lessons Start -->
                        <!--                        <div class="course-lessons">-->

                        <!--                            <div class="lessons-top">-->
                        <!--                                <h3 class="title">Course Content</h3>-->
                        <!--                                <div class="lessons-time">-->
                        <!--                                    <span>10 Lessons</span>-->
                        <!--                                    <span>6h 40m</span>-->
                        <!--                                </div>-->
                        <!--                            </div>-->

                        <!--                            &lt;!&ndash; Course Accordion Start &ndash;&gt;-->
                        <!--                            <div class="course-accordion accordion" id="accordionCourse">-->
                        <!--                                <div class="accordion-item">-->
                        <!--                                    <button data-bs-target="#collapseOne" data-bs-toggle="collapse">Introduction-->
                        <!--                                    </button>-->
                        <!--                                    <div class="accordion-collapse collapse show" data-bs-parent="#accordionCourse"-->
                        <!--                                         id="collapseOne">-->
                        <!--                                        <div class="accordion-body">-->
                        <!--                                            <ul class="lessons-list">-->
                        <!--                                                <li><a href=""><i class="fa fa-play-circle"></i> Greetings and-->
                        <!--                                                    Introductions <span>5:00</span></a></li>-->
                        <!--                                                <li><a href=""><i class="fa fa-play-circle"></i> 5 Business English-->
                        <!--                                                    Phrasal Verbs <span>3:17</span></a></li>-->
                        <!--                                                <li><a href=""><i class="fa fa-question-circle"></i> Quizz 1 : How to-->
                        <!--                                                    start?</a></li>-->
                        <!--                                            </ul>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->

                        <!--                                <div class="accordion-item">-->
                        <!--                                    <button class="collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse">-->
                        <!--                                        Analysis-->
                        <!--                                    </button>-->
                        <!--                                    <div class="accordion-collapse collapse" data-bs-parent="#accordionCourse"-->
                        <!--                                         id="collapseTwo">-->
                        <!--                                        <div class="accordion-body">-->
                        <!--                                            <ul class="lessons-list">-->
                        <!--                                                <li><a href=""><i class="fa fa-play-circle"></i> Greetings and-->
                        <!--                                                    Introductions <span>5:00</span></a></li>-->
                        <!--                                                <li><a href=""><i class="fa fa-play-circle"></i> 5 Business English-->
                        <!--                                                    Phrasal Verbs <span>3:17</span></a></li>-->
                        <!--                                                <li><a href=""><i class="fa fa-question-circle"></i> Quizz 1 : How to-->
                        <!--                                                    start?</a></li>-->
                        <!--                                            </ul>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->

                        <!--                                <div class="accordion-item">-->
                        <!--                                    <button class="collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse">-->
                        <!--                                        Practical-->
                        <!--                                    </button>-->
                        <!--                                    <div class="accordion-collapse collapse" data-bs-parent="#accordionCourse"-->
                        <!--                                         id="collapseThree">-->
                        <!--                                        <div class="accordion-body">-->
                        <!--                                            <ul class="lessons-list">-->
                        <!--                                                <li><a href=""><i class="fa fa-play-circle"></i> Greetings and-->
                        <!--                                                    Introductions <span>5:00</span></a></li>-->
                        <!--                                                <li><a href=""><i class="fa fa-play-circle"></i> 5 Business English-->
                        <!--                                                    Phrasal Verbs <span>3:17</span></a></li>-->
                        <!--                                                <li><a href=""><i class="fa fa-question-circle"></i> Quizz 1 : How to-->
                        <!--                                                    start?</a></li>-->
                        <!--                                            </ul>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; Course Accordion End &ndash;&gt;-->

                        <!--                        </div>-->
                        <!-- Course Lessons End -->

                        <!-- Course Instructor Start -->
                        <!--                        <div class="course-instructor">-->
                        <!--                            <h3 class="title">Course Instructor</h3>-->

                        <!--                            <div class="instructor-profile">-->
                        <!--                                <div class="profile-images">-->
                        <!--                                    <img alt="author" th:src="@{/images/author-7.jpg}">-->
                        <!--                                </div>-->
                        <!--                                <div class="profile-content">-->
                        <!--                                    <h5 class="name">Alena Hedge</h5>-->

                        <!--                                    <div class="profile-meta">-->
                        <!--                                        <div class="rating">-->
                        <!--                                            <div class="rating-star">-->
                        <!--                                                <div class="rating-active" style="width: 60%;"></div>-->
                        <!--                                            </div>-->
                        <!--                                            <span>(4.5)</span>-->
                        <!--                                        </div>-->
                        <!--                                        <span class="meta-action"><i class="fa fa-play-circle"></i> 10 Tutorials</span>-->
                        <!--                                        <span class="meta-action"><i class="fa fa-user-o"></i> 134 Students</span>-->
                        <!--                                    </div>-->

                        <!--                                    <p>World-class training and development programs developed by top teachers. Build-->
                        <!--                                        skills with courses, certificates, and degrees online from world-class-->
                        <!--                                        universities </p>-->

                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <!-- Course Instructor End -->

                        <!-- Course Review Start -->
                        <div class="course-review">
                            <h3 class="title">Review</h3>

                            <!-- Review Rating Start -->
                            <div class="review-rating">

                                <div class="rating-box">
                                    <span class="count">5.0</span>
                                    <div class="rating-star">
                                        <div class="rating-active" style="width: 60%;"></div>
                                    </div>
                                    <p>Total 2 Ratings</p>
                                </div>
                                <div class="rating-percentage">

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">5 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 90%;"></div>
                                        </div>
                                        <span class="label">90%</span>
                                    </div>
                                    <!-- Course Review End -->

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">4 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 40%;"></div>
                                        </div>
                                        <span class="label">40%</span>
                                    </div>
                                    <!-- Course Review End -->

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">3 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 20%;"></div>
                                        </div>
                                        <span class="label">20%</span>
                                    </div>
                                    <!-- Course Review End -->

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">2 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 0%;"></div>
                                        </div>
                                        <span class="label">0%</span>
                                    </div>
                                    <!-- Course Review End -->

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">1 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 10%;"></div>
                                        </div>
                                        <span class="label">10%</span>
                                    </div>
                                    <!-- Course Review End -->

                                </div>

                            </div>
                            <!-- Review Rating End -->

                            <!-- Review Items Start -->
                            <div class="review-items">
                                <ul>
                                    <li>
                                        <!-- Single Review Start -->
                                        <div class="single-review">
                                            <div class="review-author">
                                                <img alt="Author" th:src="@{/images/author-1.jpg}">
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top">
                                                    <h4 class="name">David Gea</h4>
                                                    <div class="rating-star">
                                                        <div class="rating-active" style="width: 60%;"></div>
                                                    </div>
                                                    <span class="date">4 Months Ago</span>
                                                </div>
                                                <p>World-class training and development programs developed by top
                                                    teachers. Build skills with courses, certificates, and degrees
                                                    online from world-class.</p>
                                            </div>
                                        </div>
                                        <!-- Single Review End -->
                                    </li>
                                    <li>
                                        <!-- Single Review Start -->
                                        <div class="single-review">
                                            <div class="review-author">
                                                <img alt="Author" th:src="@{/images/author-3.jpg}">
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top">
                                                    <h4 class="name">David Gea</h4>
                                                    <div class="rating-star">
                                                        <div class="rating-active" style="width: 60%;"></div>
                                                    </div>
                                                    <span class="date">4 Months Ago</span>
                                                </div>
                                                <p>World-class training and development programs developed by top
                                                    teachers. Build skills with courses, certificates, and degrees
                                                    online from world-class.</p>
                                            </div>
                                        </div>
                                        <!-- Single Review End -->
                                    </li>
                                </ul>
                            </div>
                            <!-- Review Items End -->

                        </div>
                        <!-- Course Review End -->

                    </div>
                    <!-- Course Details Wrapper End -->

                </div>

                <div class="col-lg-4">
                    <!-- Sidebar Wrapper Start -->
                    <div class="sidebar-details-wrap">
                        <!-- Sidebar Details Video Description Start -->
                        <div class="sidebar-details-video-description" sec:authorize="hasAuthority('TEACHER')">
                            <div class="sidebar-description">
                                <div class="price">
                                    <span class="sale-price">New assignment</span>
                                </div>
                                <p class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></p>
                                <p class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></p>
                                <div>
                                    <form enctype="multipart/form-data" method="post"
                                          th:action="@{/classroom}"
                                          th:object="${homeworkObj}">
                                        <input name="classroomId" th:value="${classroomId}" type="hidden">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="homeworkName2">Name</label>
                                            <input class="form-control" id="homeworkName2" required
                                                   th:field="*{name}" type="text">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label" for="homeworkDescription2">Description</label>
                                            <input class="form-control" id="homeworkDescription2" required
                                                   th:field="*{description}" type="text">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label" for="formFile2">File</label>
                                            <input class="form-control" id="formFile2" name="file" type="file">
                                        </div>
                                        <button class="btn btn-warning btn-hover-heading-color w-100" type="submit">
                                            Upload
                                        </button>
                                    </form>
                                </div>
                                <!--                                <ul class="description-list">-->
                                <!--                                    <li><i class="fa fa-clock-o"></i> Duration <span>52 mins</span></li>-->
                                <!--                                    <li><i class="fa fa-sliders"></i> Level <span>Expert</span></li>-->
                                <!--                                    <li><i class="fa fa-file-o"></i> Lectures <span>4 Lectures</span></li>-->
                                <!--                                    <li><i class="fa fa-language"></i> Language <span>English</span></li>-->
                                <!--                                    <li><i class="fa fa-user-o"></i> Enrolled <span>4 Enrolled</span></li>-->
                                <!--                                </ul>-->
                                <a class="btn btn-outline-primary w-100"
                                   th:href="@{'/news?classroomId=' + ${classroomId}}">Add news</a>
                                <a class="btn btn-outline-primary w-100"

                                   th:href="@{'/homework?classroomId=' + ${classroomId}}"
                                   sec:authorize="hasAuthority('TEACHER')">View homeworks</a>

                            </div>
                        </div>
                        <!-- Sidebar Details Video Description End -->

                        <!-- Sidebar Course Start -->
                        <div class="sidebar-details-course">
                            <h4 class="sidebar-details-title">Your homeworks</h4>

                            <ul class="sidebar-details-courses">
                                <li th:each="homework: ${homeworkList}">
                                    <!-- Single Course Start -->
                                    <div class="sidebar-course-item">
                                        <div class="item-image">
                                            <a th:href="@{'/homework_list/download?id=' + ${homework.id}}"><img
                                                    alt="Courses"
                                                    th:src="@{/images/homework.png}"></a>
                                        </div>
                                        <div class="item-content">
                                            <h4><a
                                                    th:href="@{'/homework_list/download?id=' + ${homework.id}}"
                                                    th:text="${homework.getName() == null ? 'Untitled homework' : homework.getName()}">Cupidatat
                                                non proident sunt
                                                culpa officia deserunt</a> <i class="fa fa-download"></i></h4>

                                            <h5 th:text="|Point: ${homework.getScore() == null ? 'Not graded yet' : homework.getScore() }|"
                                                style="color: green"></h5>

                                            <span class="price" th:text="${homework.getDescription()}">Price  <strong>$45</strong></span>
                                        </div>
                                    </div>
                                    <!-- Single Course End -->
                                </li>
                            </ul>
                        </div>
                        <!-- Sidebar Course End -->

                    </div>
                    <!-- Sidebar Wrapper End -->
                </div>
            </div>


        </div>
    </div>
    <!-- Course List End -->

</div>
</body>

</html>