<!DOCTYPE html>
<html lang="en"
      layout:decorate="_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homeworks</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
</head>
<body>
<div layout:fragment="main_body">
    <!-- Page Banner Start -->
    <div class="section page-banner-section bg-color-1">

        <img alt="shape" class="shape-1" th:src="@{/images/shape/shape-5.png}">
        <img alt="shape" class="shape-2" th:src="@{/images/shape/shape-6.png}">
        <img alt="shape" class="shape-3" th:src="@{/images/shape/shape-7.png}">

        <img alt="shape" class="shape-4" th:src="@{/images/shape/shape-21.png}">
        <img alt="shape" class="shape-5" th:src="@{/images/shape/shape-21.png}">

        <div class="container">
            <!-- Page Banner Content Start -->
            <div class="page-banner-content">
                <h2 class="title">Course List</h2>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Course</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner End -->
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Student</th>
                <th>Download</th>
                <th style="width: 50px">Score</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="homework: ${homeworkList}">
                <td th:text="${homework.id}"></td>
                <td th:text="${homework.name}"></td>
                <td th:each="student : ${homework.getUsers()}" th:text="${student.getUserName()}"></td>
                <td> <a th:href="@{'/homework_list/download?id=' + ${homework.id}}"><i class="fa fa-download"></i></a></td>
                <td>
                    <form class="card p-2" th:action="@{/homework}" method="post">
                        <input type="hidden" name="homeworkId" th:value="${homework.id}">
                        <div class="input-group">
                            <input type="text" name="score" th:value="${homework.score}" class="form-control" placeholder="Score">
                            <button type="submit" class="btn btn-secondary">Grade</button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
</body>
</html>