<!doctype html>
<html lang="vi"
      layout:decorate="_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
>
<head>
    <title>Reset Password</title>
</head>

<body>

<div class="main-wrapper" layout:fragment="main_body">

    <!-- Page Banner Start -->
    <div class="section page-banner-section bg-color-1">

        <img alt="shape" class="shape-1" th:src="@{../images/shape/shape-5.png}">
        <img alt="shape" class="shape-2" th:src="@{../images/shape/shape-6.png}">
        <img alt="shape" class="shape-3" th:src="@{../images/shape/shape-7.png}">

        <img alt="shape" class="shape-4" th:src="@{../images/shape/shape-21.png}">
        <img alt="shape" class="shape-5" th:src="@{../images/shape/shape-21.png}">

        <div class="container">
            <!-- Page Banner Content Start -->
            <div class="page-banner-content">
                <h2 class="title">Reset Password</h2>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Reset Password</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner End -->

    <!-- Login & Register Start -->
    <div class="section section-padding">
        <div class="container">

            <!-- Login & Register Wrapper Start -->
            <div class="login-register-wrapper">
                <div class="row gx-5">
                    <div class="col-lg-6">

                        <!-- Login & Register Box Start -->
                        <div class="login-register-box">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="title">Reset Password</h2>
                            </div>
                            <!-- Section Title End -->
                            <div th:if="${message}">
                                <p th:text="${message}" class="alert alert-danger" role="alert">Wrong user or
                                    password</p>
                            </div>
                            <div class="login-register-form">
                                <form method="post" th:action="@{/reset_password}">
                                    <input type="hidden" name="token" th:value="${token}">
                                    <div class="single-form">
                                        <label>
                                            <input class="form-control" placeholder="Enter your new password"
                                                   name="password" id="password" required autofocus
                                                   type="password"/>
                                        </label>
                                        <label>
                                            <input class="form-control" placeholder="Enter your new password"
                                                   name="confirmPassword" required autofocus
                                                   type="password" oninput="checkPasswordMatch(this)"/>
                                        </label>
                                    </div>
                                    <div class="single-form">
                                        <button class="btn btn-primary btn-hover-heading-color w-100" type="submit">
                                            Change Password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Login & Register Box End -->

                    </div>
                </div>
            </div>
            <!-- Login & Register Wrapper End -->

        </div>
    </div>
    <!-- Login & Register End -->
    <script type="text/javascript">
        function checkPasswordMatch(fieldConfirmPassword) {
            if (fieldConfirmPassword.value != $("#password").val()) {
                fieldConfirmPassword.setCustomValidity("Password do not match!");
            } else {
                fieldConfirmPassword.setCustomValidity("");
            }
        }
    </script>
</div>
</body>

</html>