<!DOCTYPE html>
<html lang="en"
      layout:decorate="_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.ultraq.net.nz/thymeleaf/security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>Users</title>
</head>

<body>
<div layout:fragment="breadcrumb">
    <ul class="main-menu">
        <li>
            <a th:href="@{/}">Home</a>
            <!--                            <ul class="sub-menu">-->
            <!--                                <li><a class="active" href="index.html">Home 01</a></li>-->
            <!--                                <li><a href="index-2.html">Home 02</a></li>-->
            <!--                                <li><a href="index-3.html">Home 03</a></li>-->
            <!--                                <li><a href="index-4.html">Home 04</a></li>-->
            <!--                            </ul>-->
        </li>
        <li sec:authorize="hasAuthority('ADMIN')">
            <a class="active" th:href="@{/user}">Users</a>
            <!--                            <ul class="sub-menu">-->
            <!--                                <li><a href="about.html">About 01</a></li>-->
            <!--                                <li><a href="about-2.html">About 02</a></li>-->
            <!--                                <li><a href="instructor.html">Instructor</a></li>-->
            <!--                                <li><a href="pricing.html">Pricing</a></li>-->
            <!--                                <li><a href="login-register.html">Login & Register</a></li>-->
            <!--                            </ul>-->
        </li>
        <li sec:authorize="hasAnyAuthority('TEACHER', 'STUDENT')">
            <a th:href="@{/classroom}">Classrooms</a>
            <!--                            <ul class="sub-menu">-->
            <!--                                <li><a href="course-list.html">Course List</a></li>-->
            <!--                                <li><a href="course-grid.html">Course Grid</a></li>-->
            <!--                                <li><a href="course-details.html">Course Details</a></li>-->
            <!--                            </ul>-->
        </li>
        <li><a th:href="@{/login}">Login</a>
            <!--                            <ul class="sub-menu">-->
            <!--                                <li><a href="blog-grid.html">Blog Grid</a></li>-->
            <!--                                <li><a href="blog-list.html">Blog List</a></li>-->
            <!--                                <li><a href="blog-details.html">Blog Details</a></li>-->
            <!--                            </ul>-->
        </li>
    </ul>
</div>
<div layout:fragment="main_body">
    <div class="section page-banner-section bg-color-1">

        <img alt="shape" class="shape-1" th:src="@{/images/shape/shape-5.png}">
        <img alt="shape" class="shape-2" th:src="@{/images/shape/shape-6.png}">
        <img alt="shape" class="shape-3" th:src="@{/images/shape/shape-7.png}">

        <img alt="shape" class="shape-4" th:src="@{/images/shape/shape-21.png}">
        <img alt="shape" class="shape-5" th:src="@{/images/shape/shape-21.png}">

        <div class="container">
            <!-- Page Banner Content Start -->
            <div class="page-banner-content">
                <h2 class="title">User List</h2>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userEmail}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <a th:href="@{'/user/edit/' + ${user.id}}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
</body>
</html>